:root {
  --color-primary: #4734DC;
  --color-primary-hover: #5B53E8;
  --color-accent: #7D2AE2;
  --color-secondary: rgba(106, 90, 224, 0.8);
  --color-soft-lavender: #B5A8FF;
  --color-mist-lavender: #ECEFFE;
  --color-red: #F72111;
  --color-green: #0ADD66;
  --color-white: #FFFFFF;
  --color-black: #0F0F12;

  --color-gray-1000: #1D262F;
  --color-gray-800: #2A323E;
  --color-gray-600: #434A58;
  --color-gray-400: #5B636F;
  --color-gray-200: #6E767D;
  --color-gray: #808A97;

  --color-shade-1: #FFFFFF;
  --color-shade-2: #F6F7F8;
  --color-shade-3: #E2E4E6;
  --color-shade-4: #D1D4D6;

  --color-text-1: #1A1A1B;
  --color-text-2: #6C6C6F;
  --color-text-3: #9CA3AF;
  
}

[data-theme='dark'] {
  --color-shade-1: #0B1416;
  --color-shade-2: #1A1A1B;
  --color-shade-3: #343536;
  --color-shade-4: #444546;

  --color-text-1: #EEF1F3;
  --color-text-2: #818384;
  --color-text-3: #D7DADC;
}

